.icon-button {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: 300ms;
  cursor: pointer;

  &:hover {
    background: var(--muted-foreground);
  }
}

.icon-button-primary {
  border: 1px solid var(--border);
  color: var(--text-primary);
}

.icon-button-accent-red {
  color: var(--accent-red);
}

/* SIZES */

.icon-button-base {
  height: 36px;
  aspect-ratio: 1/1;
}
