.product-card {
  position: relative;
  width: 100%;
  cursor: pointer;

  & .image-wrapper {
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;

    & .product-action-button {
      background: var(--background);
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 12px;
      display: none;

      &:hover {
        background: var(--muted-foreground);
      }
    }
  }
  /* SHOW THE ACTION BUTTON WHEN THE CARD IS HOVERED*/
  &:hover .image-wrapper .product-action-button {
    display: flex;
  }

  & .product-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 0.75em;

    & .price-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .prices {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap);

        & .compared-price {
          text-decoration: line-through;
        }
      }
      & .icons {
        display: flex;
        gap: var(--gap);
      }
    }

    & .card-footer {
      display: flex;
      align-items: center;
      gap: var(--gap);
    }
  }
}
