.products-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  gap: var(--product-spacing);
}

@media (max-width: 768px) {
  .products-wrapper {
    grid-template-columns: repeat(2, 1fr); /*2 columns for smaller device*/
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .products-wrapper {
    grid-template-columns: repeat(3, 1fr); /*3 columns for smaller device*/
  }
}

@media (min-width: 1201px) {
  .products-wrapper {
    grid-template-columns: repeat(4, 1fr); /*4 columns for smaller device*/
  }
}
