.header {
  height: var(--nav-height);
  position: sticky;
  background: var(--secondary);
  top: 0;
  z-index: 10;

  & .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  & .header-right-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
