.footer {
  background: var(--secondary);
  height: 430px;
  position: relative;

  & .footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
